.dataTables_filter label {
    float: right;
}

.btn-danger {
    color: #fff !important;
    background-color: #f53c5b;
    border-color: #f53c5b;
}

.modle-diloge {
    width: 500px !important;
}

.modal-footer-1 {
    padding: 15px;
}

.modal-footer-1 .btn {
    margin-right: 10px;
}

.modle-dilogee .modal-dialog {
    width: 500px !important;
}