.nav-item{
    padding: 13px;
    color: blue;
    position: relative;
}
.navsbar .active{
    background-color: rgba(18, 139, 244, 0.088);
}
.nav-item a{
    text-decoration: none;
}
.dropdown-content{
 display: none;
 position: absolute;
 background-color: aliceblue;
 width: max-content;
 padding:  ;
}
.nav-item:hover .dropdown-content{
    display: block;
}
.menus-items{
    padding: 10px 0;
}