.bg-linerGrd {
  background: rgb(142, 110, 173);
  background: linear-gradient(42deg, rgba(142, 110, 173, 0.6083683473389356) 35%, rgba(82, 195, 20, 0.9641106442577031) 65%, rgba(74, 197, 43, 1) 79%, rgba(0, 212, 255, 1) 100%);
}

.count {
  background-color: blue;
}

.green {
  background: #66FF99;
}

.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }

  /* 100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  } */
}


.master {
  color: black;
  float: right;
}

@media (max-width:900px) {
  .master {
    display: none
  }
}